<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  我是文章页面
  <h1><%=name%></h1>
  <p>作者：<%= author%></p>
  <p><%=content%></p>
  <p><%=publishtime%></p>
  <p><%=faved.length%>人觉得很赞</p>
  <button>点赞</button>
  <%for(let i=0;i<collected.length;i++){%>
  <p><%=collected[i]%></p>
  <%}%>
  <%for(let i=0;i<comments.length;i++){%>
    <div data-id=<%=comments[i]._id%> >
      <p><%=comments[i].content%><span><%=comments[i].user%></span>
      </p>
      <p>楼中楼:</p>
      <% for(let j=0;j<comments[i].conversation.length;j++){%>
        <%= comments[i].conversation[j].content%>
        <%= comments[i].conversation[j].commenttime%>
        <%= comments[i].conversation[j].user%>
      <% }%>
      <button>点赞</button>
    </div>
  <%}%>
</body>
</html>
